


@media (min-width: 900px){

      .menuutama{
        display: flex;
        justify-content: center;
      }

          .menu {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      width: 60%;
    }
        .item p {
      font-weight: 600;
      margin: 1.5vw;
      font-size: 1.1rem;
    }

    footer{
      font-size: 1.3rem;
    }

    .item small {
      color: #7c4700;
      font-size: 1rem;
    }
    
        .btn1 {
      width: 70px;
      height: 70px;
      font-size: 33px;
      box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    }


    .judul2{
      margin-top: 1vw;
    }
    

    main{
      margin-top: 5vw;
    }
    .cari{
      margin-top: 4vw;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #cariMenu{
      width: 50%;
      margin-bottom: 0;
      padding: 2vw;
      font-size:1rem;
      padding: 1.5vw;
    }
    #cariMenu::placeholder{
      font-size: 1rem;
    }
    
    
    .judul, .judul2{
      font-size: 4vw;
    }
    .judul{
      margin-top: 10vw;
    }
    
    hr{
      margin-top: 10vw;
       border: 0.2vw solid  #454afa;
    }

    .item{
      padding-bottom: 2vw;
    }
    .bac{
      width: 45%;
      margin-top: 15vw;
      border-bottom: none;
      border-radius: 2vw;
    }
    .btn{
      font-size: 1rem;
      width: 20%;
      padding: 1vw;
      border-radius: 1vw;
    }
    .btn img{
      margin-left: 1vw;
    }
    
    header{
      height: 8vw;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1vw;
    }

.menu2{
  left: 1vw;
  top: 0;
  font-size: 4rem;
  height: auto;
  cursor: pointer;
  height: 100%;
}

    #cartBtn {
      top: 1vw;
      right: 2vw;
      width: 8vw;
      height: 8vw;
      font-size: 4vw;
    }

#cartCount {
  top: 1vw;
  right: 1vw;
  font-size: 2vw;
  padding: 0.3vw 1vw;

}

    .popup {
      width: 85%;
      max-width: 700px;
      border-radius: 20px;
      padding: 25px;

    }
    
    
        .side-menu {
      width: 40%;
      transition: left 0.3s ease;
      padding-bottom: 5vw;
    }

    .side-menu .a, a{
      padding: 14px 20px;
      color: white;
      width: 95%;
      border: 0.3vw solid #d6ad60;
      margin-top: 3vw;
      font-size: 2vw;
      border-radius: 1.5vw;
      padding: 2vw;
    }
    .side-menu .a{
      justify-content: start;
    }

    .yt, .ig, .tk{
      width: 8vw;
      height: auto;
      margin-right: 2vw;
      margin-left: 2vw;
    }
    .tk{
      border-radius: 2vw;
    }
    
    .nets2{
      display: flex;
      width: 100%;
      gap: 4vw;
      justify-content: center;
    }
    
    .h2v{
      font-size: 4vw;
      text-align: center;
    }
    
    .pengaturan{
      font-size: 2rem;
      margin-top: 8vw;
    }
    
    #a{
       display: flex;
       align-items: center;
       justify-content: center;
    }
    

    .nxc{
      border-radius: 1vw;
    }

    }
