.pg{
  font-size: 1rem;
  color: black;
  text-align: justify;
  margin-left: 6vw;
   margin-right: 6vw;
  line-height: 1.5rem;
}
.elemen10, .elemen11 {
  width: 100%;
  margin-top: 13vw;
  background: none;   
}


.elemen11{
  margin-top: 1vw;
}

.bac{
  width: 90%;
  border: none;
  margin-top: 30vw;
}

.btn10{
  width: 90%;
  padding: 3vw;
  font-size: 1rem;
   background: linear-gradient(90deg, #454afa, #2429df);
   color: white;
   border-radius: 2vw;
   border: none;
   margin-bottom: 10vw;
}
.btn10:hover{
  box-shadow: 0 0 1.5vw #454afa;
}


.elemen10 h3{
  text-align: left;
  margin-left: 6vw;
  font-size: 1.5rem;
  color: #454afa;
}


@media(min-width:900px){

  section{
    width: 60%;
  }

  .btn10{
    width: 50%;
    padding: 2vw;
    border-radius: 1vw;
    margin-top: 4vw;
  }


  .elemen10{
    margin-top: 6vw;
  }

  .elemen10 h3{
    text-align: center;
    margin-left: 0;
  }





}