@media (min-width: 900px){
    .popup1{
    border: 0.2vw solid gold;
    padding: 1vw;
    width: 70%;
}
.nets{
  width: 100%;
   grid-template-columns: repeat(4, 1fr);
 gap: 1.5vw;
 padding: 1.5vw;
 margin-bottom: 3vw;
}

.btn{
    padding: 0.5vw;
    border-radius: 0.7vw;
    border: 0.2vw solid gold;
    gap: 1vw;
}

.btn img{
    margin-left: 0.5vw;
    width: 30%;
    border-radius: 0.5vw;
}
.h3p{
    margin-top: 3vw;
    font-size: 1.4rem;
}

        .btnmedia{
          width: 25%;
          border: 0.2vw solid white;
          padding: 2vw;
          border-radius: 0.7vw;
        }  
     
}