@media (min-width: 900px){
    .popup1{
    border: 0.2vw solid gold;
    padding: 1vw;
    width: 50%;
}
.nets{
  width: 100%;
   grid-template-columns: repeat(4, 1fr);
 gap: 1.5vw;
 padding: 1.5vw;
 margin-bottom: 3vw;
}

.btn{
    padding: 0.5vw;
    border-radius: 0.7vw;
    border: 0.2vw solid gold;
    gap: 1vw;
}

.btn img{
    margin-left: 0.5vw;
    width: 30%;
    border-radius: 0.5vw;
}
.h3p{
    margin-top: 3vw;
    font-size: 1.4rem;
}

        .btnmedia{
          width: 25%;
          border: 0.2vw solid white;
          padding: 2vw;
          border-radius: 0.7vw;
        }  
        .stativ{
          width: 90%;
          border: 0.2vw solid gold;
        }
        .bgsta img{
            width: 15%;
               border: 0.2vw solid gold;
        }
       .bgsta{
        height: 15vw;
       }
       .bgsta h4{
        font-size: 2rem;
       }
       .det{
        font-size: 1.5rem;
        padding: 4vw;
        border: 0.2vw solid #4E95FF;
        font-size: 1.1rem;
       }
       .gridsta{
        margin-bottom: 3vw;
          grid-template-columns: repeat(3, 1fr);
          padding: 1vw;
       }
}