.popup1{
    position: fixed;
    width: 90%;
    background: #2468F0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0.5vw solid gold;
    border-radius: 2vw;
    display: none;
}

.popupclose{
    display: flex;
}

.overlaypopup{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 60%;
    background: black;
    left: 0;
    display: none;
}

.ove1{
    display: flex;
}


.btn{
  padding: 1.5vw;
  background: white;
  border: none;
  color: black;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  gap: 3vw;
  font-size: 0.7rem;
  border: 0.5vw solid gold;
}

.btn img{
  width: 25%;
  margin-left: 4vw;
  border-radius: 2vw;
}


    .nets{
      width: 100%;
      display: grid;
 grid-template-columns: repeat(2, 1fr);
  gap: 4vw;
  padding: 4vw;
  position: relative;
 
    }

    .h3p{
        color: white;
        font-size: 1rem;
        margin-top: 7vw;
        font-weight: 777;
    }

    .overflowy{
      overflow-y: hidden;
    }

    
.btnmedia{
  z-index: 1005;
  padding: 4vw;
  background: #4E95FF;
  color: white;
  border: 0.5vw solid white;
  border-radius: 1.5vw;
  transition: 0.6s;
}

    .btnmedia:hover{
      background: gold;
      color: black;
    }

    .stati{
    width: 90%;
    background: #D9D9D9;
    margin-top: 10vw;
    border: 0.5vw solid #FFD700;
    border-radius: 2vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    
}

.bgsta{
    width: 100%;
    background-image: url('../img/bg15.jpeg');
    height: 25vw;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}

.bgsta img{
    width: 20%;
    position: absolute;
    right: 3vw;
}

.bgsta h4{
    color: white;
    margin-left: 7vw;
    font-style: bold;
    font-family: arial, sans-serif;
    z-index: 888;
}

.ovesta{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: black;
    opacity: 50%;
}

.gridsta{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3vw;
    margin-bottom: 5vw;
    padding: 4vw;
}

.det{
    background: white;
    padding: 5vw;
    position: relative;
    border-radius: 1.2vw;
    overflow: auto;
    border: 0.5vw solid #4E95FF;
    font-size: 0.8rem;
    display: flex;
}
.imgdet{
    background-image: url('../img/bg15.jpeg');
    color: white;
   height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 4vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: bold;
    font-weight: 777;
}

.tx{
    width: 35%;
}
.num{
    width: 15%;
    font-size: 1.2rem;
}

    .imgsta{
      border: 0.5vw solid gold;
      border-radius: 2vw;
    }

    .stativ{
      margin-bottom: 10vw;
    }

    
.bgcoc3{
    background-image: url('../img/coc32hd.png');
    width: 100%;
    background-position: center;
background-size: cover;    
background-repeat: no-repeat;
display: flex;
flex-direction: column;
align-items: center;
}