.popup1{
    position: fixed;
    width: 90%;
    background: #2468F0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0.5vw solid gold;
    border-radius: 2vw;
    display: none;
}

.popupclose{
    display: flex;
}

.overlaypopup{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 60%;
    background: black;
    left: 0;
    display: none;
}

.ove1{
    display: flex;
}


.btn{
  padding: 1.5vw;
  background: white;
  border: none;
  color: black;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  gap: 3vw;
  font-size: 0.7rem;
  border: 0.5vw solid gold;
}

.btn img{
  width: 25%;
  margin-left: 4vw;
  border-radius: 2vw;
}


    .nets{
      width: 100%;
      display: grid;
 grid-template-columns: repeat(2, 1fr);
  gap: 4vw;
  padding: 4vw;
  position: relative;
 
    }

    .h3p{
        color: white;
        font-size: 1rem;
        margin-top: 7vw;
        font-weight: 777;
    }

    .overflowy{
      overflow-y: hidden;
    }

    
.btnmedia{
  z-index: 1005;
  padding: 4vw;
  background: #4E95FF;
  color: white;
  border: 0.5vw solid white;
  border-radius: 1.5vw;
  transition: 0.6s;
}

    .btnmedia:hover{
      background: gold;
      color: black;
    }
    

    
.bgcoc3{
    background-image: url('../img/coc32hd.png');
    width: 100%;
    background-position: center;
background-size: cover;    
background-repeat: no-repeat;
display: flex;
flex-direction: column;
align-items: center;
}

