

header{
      background: linear-gradient(90deg, #F6EBC2, #F4C137);
      color: black;
}
.menu2{
    color: black;
}
.dolar{
    color: black;
    font-size: 1.1rem;
}
.dolar:hover{   
    color: #4E95FF;
}

.bgcoc1{
  width: 100%;
    margin-top: 10vw;
    height: 110vw;
    background-image: url('../img/coc1.jpg');
    background-position: center;
    position: relative;
    z-index: 555;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;    
background-repeat: no-repeat;
}

.ovebg{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: black;
    opacity: 60%;
    z-index: 556;
}

.clan1{
    z-index: 999;
    width: 40%;
    position: absolute;
    top: 15vw;
}

.h2clan{
    color: #FFE292;
    z-index: 998;
    margin-top: 35vw;
}
.bgcoc2{
    width: 100%;
    border-bottom: 0.5vw solid #4E95FF;
}

.bgcoc3{
    background-image: url('../img/coc32hd.png');
    width: 100%;
    background-position: center;
background-size: cover;    
background-repeat: no-repeat;
display: flex;
flex-direction: column;
align-items: center;
}
.gridcoc{
     display: grid;
   grid-template-columns: repeat(1, 1fr);
     padding: 2vw;
}

.itemcoc{
    background: white;
    border-radius: 3vw;
    padding: 2vw;
    margin-top: 10vw;
    display: flex;
    align-items: center;
}

.itemcoc img{
    width: 40%;
    border-radius: 2vw;
}

.cn23{
    width: 50%;
    border: 0.5vw solid #4E95FF;
    border-radius: 2vw;
    padding: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 7vw;
}

.cn23 h4{
    color: #000000;
    font-size: 0.6rem;
    margin-bottom: 0;
    margin-top: 4vw;
    text-align: left;
    width: 100%;
}

.btncoc{
    width: 100%;
    margin-top: 4vw;
    background: #4E95FF;
    color: white;
    border: none;
    padding: 2vw;
    border-radius: 1vw;
}
.btncoc:hover{
    background: gold;
    color: black;
    transition: 0.4s;
}

.btncoc1{
    background: #F4C137;
    width: 30%;
    z-index: 999;
    padding: 3vw;
    border-radius: 1.3vw;
    border: 0.5vw solid white;
    color: white;
}
.btncoc1:hover{
    background: #4E95FF;
}

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
.btnfo:hover{
    background: gold;
    color: black;
    transition: 0.4s;
}

.descocv{
    width: 90%;
    background: #D9D9D9;
    margin-top: 7vw;
    border-radius: 2vw;
    border: 0.5vw solid #FFD700;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    position: relative;
}
.descoc2{
    width: 95%;
    height: 30vw;
    background: #4E95FF;
    border-radius: 2vw;
    opacity: 100%;

}
.descocv p{
    width: 95%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    color: #000000;
}
.descoc2 p{
    color: white;
    font-size: 0.7rem;
    margin: 3vw;
}
.logodes{
    position: absolute;
    right: 3vw;
    top: 0;
    width: 12%;
}

.bgcoc4{
    width: 100%;
    height: 65vw;
    background-image: url('../img/bg15.jpeg');
     background-position: center;
background-size: cover;    
background-repeat: no-repeat;
margin-top: 5vw;
position: relative;
padding: 3vw;
}
.longsot{
    width: 57%;
    position: absolute;
   right: 0;
    bottom: 0;
}
.logococ{
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
}
.descocv2{
    width: 60%;
    position: absolute;
    left: 3vw;
    margin-top: 1vw;
}
.descoc22{
    height: 20vw;
    border-radius: 1.5vw;
}
.descocv2 p{
    font-size: 0.7rem;
    margin-top: 0.5vw;
    margin-bottom: 2vw;
}
.descoc22 p{
    font-size: 0.7rem;
    margin: 2vw;
}
.btnb4{
    position: absolute;
    left: 13vw;
    bottom: 12vw;
    padding: 3vw;
    background: #FFD700;
    border: 0.5vw solid white;
    border-radius: 1vw;
    width: 40%;
    font-size: 0.65rem;
}


@media(min-width: 700px) {

    .bgcoc1{
        height: 45vw;
        margin-top: 5vw;
    }

        .clan1{
            width: 20%;
            top: 6vw;
        }
        .h2clan{
            font-size: 2.2rem;
            margin-top: 22vw;
        }
        .gridcoc{
               display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2vw;
            padding: 2vw;
        }
        .itemcoc{
            margin-top: 0;
            margin-bottom: 0;
            padding: 2vw;
            border-radius: 1.5vw;
        }
        .itemcoc img{
            width: 40%;
        }
        .cn23{
            border: 0.2vw solid #4E95FF;
            padding: 1vw;
            border-radius: 1vw;
            width: 55%;
        }
        .cn23 h4{
            margin-top: 0.8vw;
            margin-bottom: 0.8vw;
            font-size: 1rem;
        }
        .btncoc{
            margin-top: 2vw;
        }
        .btncoc1{
            width: 20%;
            padding: 1.5vw;
            border: 0.2vw solid white;
            border-radius: 0.5vw;
        }
        
        .blog{
            display: flex;
            margin-right: 1vw;
        }
        .dukungan{
            margin-right: 1vw;
        }
        .dolar{
            font-size: 1.3rem;
        }
        .btncoc{
            padding: 1.5vw;
            border-radius: 0.7vw;
        }
        .descocv{
            border: 0.3vw solid gold;
            width: 50%;
            border-radius: 1vw;
            padding: 1vw;
            margin-bottom: 10vw;
        }
        .descoc2{
            height: 10vw;
            border-radius: 1vw;
            width: 95%;
        }
        .descocv p{
            margin-top: 2vw;
            margin-bottom: 2vw;
            font-size: 1.2rem;
        }
        .descoc2 p{
            margin: 1.5vw;
            font-size: 1rem;
        }
        .logodes{
            width: 10%;
            right: 1.5vw;
        }

        .bgcoc4{
            height: 35vw;
        }

        .longsot{
            width: 30%;
            right: 15vw;
        }
        .logococ{
            width: 20%;
            right: 3vw;
        }
        .descocv2{
            width: 40%;
            left: 15vw;
        }
        .btnb4{
            padding: 1.5vw;
            width: 30%;
            border: 0.2vw solid white;
            left: 20vw;
            bottom: 4vw;
            border-radius: 0.7vw;
        }
}
