.stati{
    width: 90%;
    background: #D9D9D9;
    margin-top: 10vw;
    border: 0.5vw solid #FFD700;
    border-radius: 2vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    
}

.bgsta{
    width: 100%;
    background-image: url('../img/bg15.jpeg');
    height: 25vw;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}

.bgsta img{
    width: 20%;
    position: absolute;
    right: 3vw;
}

.bgsta h4{
    color: white;
    margin-left: 7vw;
    font-style: bold;
    font-family: arial, sans-serif;
    z-index: 888;
}

.ovesta{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: black;
    opacity: 50%;
}

.gridsta{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3vw;
    margin-bottom: 5vw;
    padding: 4vw;
}

.det{
    background: white;
    padding: 5vw;
    position: relative;
    border-radius: 1.2vw;
    overflow: auto;
    border: 0.5vw solid #4E95FF;
    font-size: 0.8rem;
    display: flex;
}
.imgdet{
    background-image: url('../img/bg15.jpeg');
    color: white;
   height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 4vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: bold;
    font-weight: 777;
}

.tx{
    width: 35%;
}
.num{
    width: 15%;
    font-size: 1.2rem;
}