
    body {
    
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 20px;
      text-align: center;
    }

    h1 {
      color: #333;
      margin-bottom: 20px;
    }

    input[type="file"] {
      margin: 15px 0;
      padding: 10px;
      border: 2px dashed #4CAF50;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
      width: 100%;
    }

    .kbtn {
      background: #43a047;
    }

     .kbtn :hover {
      background: #43a047;
    }

    #preview {
      max-width: 95%;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      margin-bottom: 10vw;
      margin-top: 20vw;
    }

    #info {
      margin-top: 15px;
      font-size: 15px;
      color: #333;
    }
.kompres-area {
  text-align: center;
  padding: 20px;
}

#preview {
  max-width: 100%;
  max-height: 320px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: none;
}


.download {
  display: inline-block;
  margin-top: 12px;
  color: #fff;
  background: #2196F3;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.download:hover {
  background: #1976D2;
}

.sec1{
  margin-top: 20vw;
}

section{
  display: flex;
  flex-direction: column;
}
.btn10{
  width: 100%;
}

.kbtn{
  margin-bottom: 2vw;
}


@media(min-width: 900px){
 
input[type="file"] {
      margin: 15px 0;
     padding: 1.5vw;
      border: 2px dashed #4CAF50;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
      margin-top: 15vw;
    }

      section{
        align-items: center;
        width: 45%;
      }

      .sec1{
        margin-top: 0;
      }

      .btn10{
        margin-top: 0;
        padding: 1.5vw;
      }

      .kbtn{
        margin-bottom: 2vw;
      }




}