#teksc1, #teksc2, #teksc3{
     padding: 1vw;
    font-family: "Consolas", "Courier New", monospace;
    font-size: 0.75rem;
    color: #2b2b2b;
    margin: 3vw;
    white-space: pre-wrap;
  
}

.bit {
    background: #ffffff;
    border-radius: 14px;
    padding: 0;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.07);
    position: relative;
       border: 0.2vw solid rgb(26, 32, 45);
         background: linear-gradient(90deg, #f1f5ff, #e8eeff);
    color: #334788;
    font-weight: 600;
    width: 100%;
    height: auto;
    overflow-y: auto;
}
.bit::-webkit-scrollbar{
    display: none;
}
pre{
    background: none;
}

.btnl {
    position: sticky;
    top: 0;
    right: 0;
    background: #4b6dff;
    color: #ffffff;
    border: none;
    padding: 1vw;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 600;
    transition: 0.25s ease;
    width: auto;
    border-bottom-left-radius: 1.5vw;
    float: right; /* agar benar-benar ke kanan */
}


.btnl:hover {
    background: #3657ff;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(75, 109, 255, 0.4);
}

.bit::-webkit-scrollbar {
    height: 8px;
}

.bit::-webkit-scrollbar-track {
    background: #f0f2fa;
}

.bit::-webkit-scrollbar-thumb {
    background: #d1d4e0;
    border-radius: 10px;
}

.bit::-webkit-scrollbar-thumb:hover {
    background: #b7bbce;
}

.sectr{
    width: 80%;
}


.imgli{
    width: 100%;
    margin-top: 3vw;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.07);
}

.judullink{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 4vw;
    font-size: 1.5rem;
    font-weight: 600;
}

.h2l{
    color: #3657ff;
    margin: 0;
    text-align: left;
    width: 50%;
    margin-top: 5vw;
    margin-bottom: 1vw;
}

.ul1 li{
    margin-bottom: 2vw;
}












@media(min-width:900px){
    .bit{
        width: 60%;
        height: auto;
    }

    .imgli{
    width: 80%;
    border-radius: 1.5vw;
}
}