
@media(min-width: 900px){

    
header{
    position: absolute;
    top: 0;
}


    .bac4{
    width: 100%;
    height: 35vw;
    margin-top: 5vw;
    background-position: center;
    background-size: cover;   
    border-bottom: 0.3vw solid gold;
}
.bac4 img{
    width: 25%;
    left: 15vw;
    border-radius: 50%;
    border: 0.3vw solid gold;
    bottom: 3vw;
}

.h3v{
    font-size: 3rem;
    right: 25vw;
}

.sen{
    position: relative;
    margin-bottom: 25vw;
}


.vdbox {
  width: 100%;
  height: 40vw;
  border: 0.1vw solid gold;
  border-radius: 1vw;
  margin-bottom: 1vw;
}
.vdbox iframe {
  border: 0.1vw solid gold;
  border-radius: 1vw;
}

.box-x{
    right: 25vw;
    width: 35%;
}

.boxvd{
    margin-top: 1vw;
    height: 21vw;
    border: 0.2vw solid gold;
    border-radius: 1vw;
    padding: 0;
}


.len{
    width: 50%;
         background-image: url('../img/footerimg.jpeg');
    border-radius: 1vw;
    border: 0.3vw solid gold;  
    position: absolute;
    right: 5vw;
    top: 0;
    padding-bottom: 5vw;
    display: flex;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}


.lenbg{
    width: 100%;
    height: 15vw;
    background-image: url('../img/bg15.jpeg');
    background-position: top;
    border-bottom: 0.3vw solid gold;
    margin-bottom: 8vw;
}

.bgnxc{
    width: 25%;
    border-radius: 50%;
    border: 0.3vw solid gold;
    position: absolute;
    top: 8.5vw;
}



.ref{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn15{
    width: 35%;
    padding: 1.5vw;
    border: 0.2vw solid gold;
    border-radius: 0.5vw;
    font-size: 1.2rem;
    box-shadow: 0 0 0.2vw gold;
}

.lef, .lefv{
    width: 43%;
    height: 12vw;
    border-radius: 1vw;
    background: white;
    padding: 2vw;
}
.lefv{
    width: 90%;
}

.lef2{
    width: 90%;
    border-radius: 1vw;
    background: white;
    margin-top: 3vw;
    padding: 2vw;
    height: auto;
}

.p1v{
   margin: 0;
   font-size: 1.1rem;
   margin-bottom: 0.7vw;
   margin-top: 0;
}

.btn20{
    background: #2429df;
    padding: 1.3vw;
    color: white;
    border-radius: 0.7vw;
    text-decoration: none;
    cursor: pointer;
    border: 0.2vw solid gold;
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: start;
}
.btn20 img{
    width: 35%;
    margin-right: 1vw;
}

.man{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2vw;
    margin-top: 3vw;
}

.man2{
    display: flex;
    flex-direction: column;
    width: 32%;
    gap: 1vw;
}


.imgb{
    border-radius: 50%;
}

.ad{
    font-size: 1rem;
}

.hr1{
    border: 0.1vw solid gold;
}




}




@media(min-width: 1900px){
    .len{
        width: 60%;
    }
    .ken{
        display: flex;
        flex-direction: row;
    }

    .lef{
        height: auto;
        padding: 1vw;
    }
    .bgnxc{
        width: 15%;
        top: 10vw;
    }
    .lenbg{
        margin-bottom: 3vw;
    }
    .lef2{
        width: 50%;
    }
    .man2{
        width: 90%;
    }
    .btn20{
        height: 2vw;
    }
    .btn20 img{
        width: 45%;
    }
    .man{
        margin-top: 1vw;
    }
    .btn10{
        margin-top: 10vw;
    }
}